{% extends "AnhContentBlockBundle:Admin:layout.html.twig" %}

{% block title 'Content block groups' %}

{% block content %}
    <h2>{{ resources|length }} groups</h2>

    <form action="{{ url('anh_content_block_admin_group_delete') }}" method="post" id="fGroups">
        <div class="button_row">
            <a href="{{ url('anh_content_block_admin_group_create') }}">Create new</a>

            {% if resources %}
                <button class="danger" type="submit">Delete</button>
            {% endif %}
        </div>

        {% if resources %}
            {% for group in resources %}
                <div class="list_row">
                    <div class="list_row_flags">
                        <input type="checkbox" name="id[]" value="{{ group.id }}" />
                    </div>

                    <div class="list_row_content">
                        <a href="{{ url('anh_content_block_admin_group_update', { 'id': group.id }) }}">{{ group.title }}</a>
                        &middot; {{ group.slug }}

                        <div class="created_updated">
                            Created at: {{ group.createdAt|date }}
                            &middot;
                            Updated at: {{ group.updatedAt|date }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@AnhContentBundle/Resources/public/style.css'
    %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@jquery_js'
    %}<script src="{{ asset_url }}"></script>{% endjavascripts %}

    <script><!--
        $(function() {
            var check = function() {
                $('#fGroups button[type="submit"]').attr('disabled', $('#fGroups input[name="id[]"]:checked').length == 0);
            };

            $('#fGroups input[name="id[]"]').click(check);

            check();

            $('#fGroups').submit(function(event) {
                if(!confirm('Are you sure?')) {
                    event.preventDefault();
                }
            });
        });
    --></script>
{% endblock %}
